  
dist: trusty
sudo: required
language: node_js
node_js:
- "8"

os:
- linux
addons:
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
before_install:
- export CHROME_BIN=chromium-browser
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start

jobs:
  include:
  # - stage: lint
  #   script:
  #   - ng lint
  # - stage: test
  #   script:
  #   - npm run test:lib-coverage
  #   - npm run report-coverage:lib
  - stage: build & publish showcase
    script:
    - npm install
    - npm run build:showcase
    deploy:
      provider: pages
      skip_cleanup: true
      github_token: $GH_TOKEN
      local_dir: dist/dynamic-table-showcase
    if: branch = master
  # - stage: build & publish lib
  #   script:
  #   - npm run build:lib
  #   - npm run publish:lib
  #   if: branch = master